main {
  margin: 3%;
  width: 35%;
  flex-grow: 1;
}
aside {
  background: rgba(196, 195, 195, 0.15);
  width: 58%;
  border: 1px solid rgba(196, 195, 195, 0.1);
  border-radius: 6px;
  padding: 1em;
  margin: 1em;
  float: right;
}